<ion-modal-view>
    <div class="bar bar-header">
      <div class="h1 title">Comment</div>
      <button class="button button-clear button-positive" ng-click="cancelComment()">Cancel</button>
    </div>

    <ion-content>
        <div class="h2 title">Create your comment here...</div>
        <div>
            <ion-list>
                <li class="item item-input item-stacked-label">
                    <textarea type="text" placeholder="Enter your content here..." name="content" rows="20" ng-model="post.comment"></textarea>
                </li>
            </ion-list>
            <label class="item">
              <button class="button button-block button-positive" ng-click="doCreateComment()">Send</button>
            </label>            
        </div>
    </ion-content>
</ion-modal-view>