<ion-view view-title="Event">
  <ion-content>
    <div class="list card">
      <div class="divheader">
        <div class="date-card">
          <div class="date-card-day">
            <h2>18</h2>
          </div>
          <div class="date-card-month">
            <p>MAR</p>
          </div>
        </div>
        <div class="event-title">
          <h4>Spark: An open platform for 3D printing</h4>
        </div>
        <div class="event-presenter-profile">
        </div>
        <div class="event-presenter-name">
          <p>{{event.content}}</p>
        </div>
      </div>  
      <div class="item item-body">
          <p>
              There will be snacks provided for the audiences.
 
              Time:     10:30AM ~ 12:00PM,  Tuesday , May 26th , 2015 
              Venue:    Room Shanghai Bldg 7 Training Room 3;  Room Shanghai Bldg 7 Training Room 4
 
              Materials for this will be available at here half day after.
 
              Find more about Brown Bag Seminar.

          </p>
      </div>
    </div>

    <div class="list card">
      <div class="seats">
        <div class="available">
          <span>Hurry up</span>
        </div>
      </div>  
    </div>

  </ion-content>
</ion-view>
