<ion-view view-title="Events">
  <ion-content>

    <div class="list card" ng-repeat="event in events">
		<div class="divheader">
			<div class="date-card">
				<div class="date-card-day">
					<h2>18</h2>
				</div>
				<div class="date-card-month">
					<p>MAR</p>
				</div>
			</div>
			<div class="event-title">
				<p>Spark: An open platform for 3D printing</p>
			</div>
			<div class="event-presenter-profile">
			</div>
			<div class="event-presenter-name">
				<p>{{event.title}}</p>
			</div>
		</div>	
		<div class="divbody">
		    <p>
			  Samir will give an presentation about Spark which is an open platform for building 3D printing software, hardware, material and services.

			  Samir Hanna is General Manager and Vice President for Auodesk Consumer and 3D printing Group.
		    </p>
		</div>
		<div class="divregister">
			<a class="button button-block button-energized" href="#/app/events/{{event.id}}">Register</a>
		</div>
	</div>

  </ion-content>
</ion-view>
