<ion-view view-title="Event">
  <ion-content>
    <div class="list card">
      <div class="divheader">
        <div class="date-card">
          <div class="date-card-day">
            <h2>18</h2>
          </div>
          <div class="date-card-month">
            <p>MAR</p>
          </div>
        </div>
        <div class="event-title">
          <h4>{{event.subject}}</h4>
        </div>
        <div class="event-presenter-profile">
        </div>
        <div class="event-presenter-name">
          <p>{{event.presenterName}}</p>
        </div>
      </div>  
      <div class="item item-body">
          <p>{{event.content}}</p>
      </div>
    </div>

    <div class="list card">
      <div class="seats">
        <div class="available">
          <span>Hurry up</span>
        </div>
      </div>  
    </div>

  </ion-content>
</ion-view>
