<ion-view view-title="Events">
  <ion-content>

    <div class="tct-card" ng-repeat="event in events">
		<div class="divheader">
			<div class="date-card">
				<div class="date-card-day">
					<h2>18</h2>
				</div>
				<div class="date-card-month">
					<p>MAR</p>
				</div>
			</div>
			<div class="event-title">
				<h4>{{event.subject}}</h4>
			</div>
			<div class="event-presenter-profile">
			</div>
			<div class="event-presenter-name">
				<p>{{event.presenterName}}</p>
			</div>
			<div class="avatar-div">
				<div class="avatar-card">
		            <img src="http://ionicframework.com/img/docs/mcfly.jpg">
				</div>
				<div class="" style="">
					<h4>{{event.presenterTitle}}</h4>
				</div>
			</div>
		</div>	
		<div class="divbody">
		    <p>{{event.content}}</p>
		</div>
		<div class="divregister">
			<a class="button button-block button-energized" href="#/app/events/{{event.objectId}}">Register</a>
		</div>
	</div>

  </ion-content>
</ion-view>
