

<ion-view view-title="Create Post">
    <div class="bar bar-header">
      <button class="button button-clear button-positive" ng-click="doCancelPost()">Cancel</button>
      <div class="h1 title">Create post</div>
      <button class="button button-clear button-positive" ng-click="doCreatePost()">Post</button>
    </div>

    <ion-content>
        <div class="h2 title">Create your post here...</div>

        <div>
            <ion-list>
                <li class="item item-input item-stacked-label">
                    <textarea type="text" placeholder="Enter your title here..." name="title" rows="2" ng-model="post.subject" required></textarea>
                </li>
                <br/>
                <br/>
                <li class="item item-input item-stacked-label">
                    <textarea type="text" placeholder="Enter your content here..." name="content" rows="20" ng-model="post.content"></textarea>
                </li>
            </ion-list>
        </div>
    </ion-content>

</ion-view>