

<ion-view view-title="Create Post">
    <div class="bar bar-header">
      <button class="button button-clear button-positive" ng-click="onCancelPost()">Cancel</button>
      <div class="h1 title">Create post</div>
      <button class="button button-clear button-positive" ng-click="onCreatePost()">Post</button>
    </div>

    <ion-content>
        <div>
            <ion-list>
                <li class="item item-input item-stacked-label">
                    <textarea type="text" placeholder="Start typing..." name="content" rows="10"></textarea>
                </li>
                <ion-button class="button button-block button-positive" ng-click="create()">
                    create
                </ion-button>
            </ion-list>
        </div>
    </ion-content>

</ion-view>