/* Empty. Add your own CSS if you like */
.divheader{
	position: relative;
	height: 200pt;
	background-image: url("../img/event_banner.png");
	color: white;
}
.divheader h1,h2,h3,h4,h5{
	color: white;
}
.divbody{
	position: relative;
	height: 150px;
	background-color: black;
	color: white;
}

.divregister{
	position: relative;
	padding-left: 100px;
	padding-right: 100px;
	top:-30px;
}

.date-card{
	background-color: yellow;
	width: 60pt;
	height: 60pt;
	float: left;
	margin-left: 10pt;
}

.date-card-day{
	background-color: yellow;
	height: 70%
}

.date-card-day h2{
	color: black;
	font-size: 34pt;
	margin-top: 0pt;
	margin-left: 11pt;
}

.date-card-month{
	background-color: black;
	height: 30%
}

.seats{
	position: relative;
	height: 150px;
	background-image: url("../img/event_banner.png");
	color: white;
}

.available{
	background-color: yellow;
	height: 30px;
}

.date-card-month p{
  margin-left: 15pt;
  color: white;
}

.avatar-div{
  margin-left: 10pt;
  margin-top: 100pt;
}

.avatar-div .avatar-card{
  float: left;
  width: 60pt;
  height: 60pt;
}

.event-title{
	height: 20pt;
}

.event-presenter-name{
	height: 20pt;
}

.tct-card{
  margin-left: 10pt;
  margin-right: 10pt;
}

.tct-landing-page{
	background-image: url("../img/image_splash_1920x1080.png");
}

.tct-landing-placeholder{
  height: 500px;
  width: 80%;
  margin: auto;
}

.tct-signin-placeholder{
  height: 200px;
  width: 80%;
  margin: auto;
}

.tct-div-login-signin{
  text-align: center;
  padding: 1em 0;
  clear: both;
}

.tct-button-signin{
	width: 10em;
}

.button-tct {
  border-color: rgba(243, 221, 39, 1);
  background-color: rgba(243, 221, 39, 1);
  color: #000;
}

.signin-div{
	margin-top: 150;
}

.col3 { width: 30%; height: 100%; background-color: yellow; margin: 3px 3px 3px 3px;}
.raw3 { width: 100%; height: 30%; background-color: green;  margin: 3px 3px 3px 3px;}
.float-top {float: top;}
.float-left {float: left;}
.float-right {float: right;}
.float-bottom {float: bottom;}
